[run]
source = WebTeX.py

[report]
omit = */static/*, */templates/*, */tests/*
exclude_lines=
  if __name__ == '__main__':
  app.run(host='0.0.0.0', port=8080, threaded=True)
  def before_request():
  @app.before_request
  app = Flask(__name__)
  app.debug = False
  app.config['SECRET_KEY'] = os.urandom(24)
  base = os.path.dirname(os.path.abspath(__file__))
  conf = base + '/WebTeX.ini'
  db = base + '/WebTeX.db'
  storage = base + '/static/storage/'
