<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Welcome - WebTeX</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">WebTeX</a>
    </div> <!-- navbar-header -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#signinModal" data-toggle="modal" id="showSignIn">Sign in</a></li>
    </ul>
  </div> <!-- container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="text-center">WebTeX - Web based TeX Editor</h1>
    </div> <!-- mainform -->
  </div> <!-- row -->
</div> <!-- container-fluid -->

<!-- Login Modal -->
<div id="signinModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="modal-title">Sign in</h1>
      </div>
      <div class="modal-body">
        <form class="form col-md-12 center-block" method="POST">
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="username" name="username" placeholder="Username"/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password"/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" id="signIn">Sign in</button>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="border-top: 0px;"><!-- border-top: 0px で余計な横線を消す -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>